In [78]:
import pandas as pd
import numpy as np

In [79]:
json = {"formas": {"3": {}, "4": {"400": {"C": [{"result": "l", "confidence": "86.04772090911865"}, {"result": "l", "confidence": "50.53004026412964"}, {"result": "c", "confidence": "99.96335506439209"}, {"result": "c", "confidence": "99.67594742774963"}, {"result": "l", "confidence": "93.34042072296143"}, {"result": "l", "confidence": "94.92576718330383"}], "L": [{"result": "l", "confidence": "90.68928360939026"}, {"result": "c", "confidence": "68.18195581436157"}, {"result": "l", "confidence": "98.04392457008362"}, {"result": "i", "confidence": "99.99191761016846"}, {"result": "i", "confidence": "99.35075044631958"}, {"result": "i", "confidence": "99.99865293502808"}, {"result": "l", "confidence": "92.63414144515991"}], "I": [{"result": "i", "confidence": "99.99972581863403"}, {"result": "i", "confidence": "99.98537302017212"}, {"result": "i", "confidence": "99.99778270721436"}, {"result": "i", "confidence": "99.99030828475952"}, {"result": "i", "confidence": "99.99905824661255"}, {"result": "i", "confidence": "99.99760389328003"}]}}}, "orientacion": {"300": {"0": [{"angulo_tronco": 97.31273704978061, "angulo_head": 133.05733266500627}], "10": [{"angulo_tronco": 65.31411330761776, "angulo_head": 135.80818550044808}], "20": [{"angulo_tronco": 72.8584741299384, "angulo_head": 143.9198447355285}], "30": [{"angulo_tronco": 65.4931229340266, "angulo_head": 141.90646660409132}], "40": [{"angulo_tronco": 64.11483666212268, "angulo_head": 144.3396554857759}], "50": [{"angulo_tronco": 62.381739229802044, "angulo_head": 129.4086462675055}], "60": [{"angulo_tronco": 68.01496086775278, "angulo_head": 144.54554759637028}], "70": [{"angulo_tronco": 73.52333248575118, "angulo_head": 155.19192216407262}], "80": [{"angulo_tronco": 83.06434125733576, "angulo_head": 17.072365373848676}], "90": [{"angulo_tronco": 88.3682691271685, "angulo_head": 77.37869410291306}], "100": [{"angulo_tronco": 97.05766135277702, "angulo_head": 170.2952451092413}], "110": [{"angulo_tronco": 94.49937785188303, "angulo_head": 29.740244430302262}], "120": [{"angulo_tronco": 101.41435159519055, "angulo_head": 14.916869735706975}], "130": [{"angulo_tronco": 104.07399996936631, "angulo_head": 47.160559163929655}], "140": [{"angulo_tronco": 106.66170184180791, "angulo_head": 49.65342243043596}], "150": [{"angulo_tronco": 115.21579263685156, "angulo_head": 46.382489357964275}], "160": [{"angulo_tronco": 126.33880653200572, "angulo_head": 159.9593954250822}], "170": [{"angulo_tronco": 116.01860341442229, "angulo_head": 47.41092501594099}], "180": [{"angulo_tronco": 106.05856654297611, "angulo_head": 53.854040207408666}]}, "400": {"0": [{"angulo_tronco": 82.23452750068346, "angulo_head": 30.512010934272734}], "10": [{"angulo_tronco": 68.28001715190628, "angulo_head": 134.46110178640166}], "20": [{"angulo_tronco": 64.9634778330292, "angulo_head": 148.11361119988027}], "30": [{"angulo_tronco": 66.47861171955695, "angulo_head": 148.95091945520133}], "40": [{"angulo_tronco": 67.04454003422542, "angulo_head": 154.0710371347343}], "50": [{"angulo_tronco": 72.9311384069479, "angulo_head": 0.802400380938326}], "60": [{"angulo_tronco": 83.31681801874544, "angulo_head": 130.7800158047995}], "70": [{"angulo_tronco": 82.47336342079541, "angulo_head": 172.28458903280284}], "80": [{"angulo_tronco": 75.21313174531114, "angulo_head": 31.101383932528694}], "90": [{"angulo_tronco": 93.2154801134564, "angulo_head": 52.15572816950949}], "100": [{"angulo_tronco": 98.56921453067021, "angulo_head": 169.8557292323232}], "110": [{"angulo_tronco": 99.12815432525441, "angulo_head": 86.76203003361104}], "120": [{"angulo_tronco": 103.93936052976193, "angulo_head": 167.07817221458217}], "130": [{"angulo_tronco": 108.839926609334, "angulo_head": 25.18984102105983}], "140": [{"angulo_tronco": 109.644515100626, "angulo_head": 55.65563769681243}], "150": [{"angulo_tronco": 111.91916132186596, "angulo_head": 38.47102723165189}], "160": [{"angulo_tronco": 114.8358075724678, "angulo_head": 33.332381007697315}], "170": [{"angulo_tronco": 109.55469907327003, "angulo_head": 44.9846036959682}], "180": [{"angulo_tronco": 81.79505176631852, "angulo_head": 100.74211299435146}]}}, "centroide": {"200": [{"respuesta": 216.63507432717773}], "250": [{"respuesta": 259.13251444564213}], "300": [{"respuesta": 306.7966367109535}], "350": [{"respuesta": 342.68404980989305}], "400": [{"respuesta": 377.5666358561655}], "450": [{"respuesta": 415.02614939886803}], "500": [{"respuesta": 441.8148143764079}], "550": [{"respuesta": 477.6865431368981}], "600": [{"respuesta": 499.8868638293699}]}}

In [82]:
val_formas = json["formas"]

In [81]:
data = []
for key2, value2 in val_formas["3"]["300"].items():
    for i in value2:
        data.append([key2, i["result"], i["confidence"]])
df_formas_3_300 = pd.DataFrame(data, columns=["forma", "result", "confidence"])

data = []
for key2, value2 in val_formas["3"]["400"].items():
    for i in value2:
        data.append([key2, i["result"], i["confidence"]])
df_formas_3_400 = pd.DataFrame(data, columns=["forma", "result", "confidence"])

data = []
for key2, value2 in val_formas["4"]["400"].items():
    for i in value2:
        data.append([key2, i["result"], i["confidence"]])
df_formas_4_400 = pd.DataFrame(data, columns=["forma", "result", "confidence"])

KeyError: '300'

In [ ]:
val_formas["4"]["400"]

{'C': [], 'L': [], 'I': []}

In [ ]:
df_formas_3_300

   forma result          confidence
0      C      l    99.7918426990509
1      C      l   99.93488192558289
2      C      l    99.6771514415741
3      C      l   99.70840811729431
4      L      l   97.96609878540039
5      L      i   54.73031401634216
6      L      i   77.76991128921509
7      L      i   99.90906715393066
8      L      i  57.017356157302856
9      L      i   99.25318360328674
10     I      i   99.99767541885376
11     I      i   99.99892711639404
12     I      i   99.99868869781494
13     I      i   99.99512434005737
14     I      i   99.98871088027954
15     I      i     99.998939037323
16     I      i   99.99920129776001

In [ ]:
df_formas_3_400

   forma result         confidence
0      C      l  98.63470196723938
1      C      l  98.65055680274963
2      C      l  98.76118302345276
3      C      i  89.76896405220032
4      L      i   84.9324107170105
5      L      i  71.70587182044983
6      L      l  80.58302998542786
7      L      l  89.38096165657043
8      L      l  51.98996663093567
9      L      i  99.95697140693665
10     L      i   98.8224983215332
11     I      i  99.99960660934448
12     I      i  99.99746084213257
13     I      i  99.98859167098999
14     I      i  99.99812841415405
15     I      i  99.99645948410034
16     I      i  99.99587535858154

In [ ]:
df_formas_4_400

Empty DataFrame
Columns: [forma, result, confidence]
Index: []

In [ ]:
val_centroides = json["centroide"]

In [ ]:
data = []

for key, value in val_centroides.items():
    data.append([key, value[0]["respuesta"]])

df_centroides = pd.DataFrame(data, columns=["centroide", "respuesta"])

In [ ]:
df_centroides

  centroide   respuesta
0       200  216.642508
1       250  259.141860
2       300  306.789543
3       350  342.686605
4       400  377.555945
5       450  415.043270
6       500  441.811501
7       550  477.675118
8       600  499.866307

In [ ]:
val_orientacion = json["orientacion"]

In [ ]:
data = []

# crear un dataframe con las orientaciones
for key in val_orientacion["300"].keys():
    data.append({"angulo": key, "angulo_tronco": val_orientacion["300"][key][0]["angulo_tronco"]})#, "angulo_head": val_orientacion["300"][key][0]["angulo_head"]})

df_orientaciones_300 = pd.DataFrame(data)

data = []

# crear un dataframe con las orientaciones
for key in val_orientacion["400"].keys():
    data.append({"angulo": key, "angulo_tronco": val_orientacion["300"][key][0]["angulo_tronco"]})#, "angulo_head": val_orientacion["300"][key][0]["angulo_head"]})

df_orientaciones_400 = pd.DataFrame(data)

In [ ]:
df_orientaciones_300

   angulo  angulo_tronco
0       0      97.457386
1      10      65.332890
2      20      72.857467
3      30      65.492726
4      40      64.106862
5      50      62.367553
6      60      67.998517
7      70      73.503908
8      80      83.064815
9      90      88.376279
10    100      97.031020
11    110      94.502489
12    120     101.407704
13    130     104.052085
14    140     106.666634
15    150     115.227051
16    160     126.506350
17    170     116.017401
18    180     105.936550

In [ ]:
df_orientaciones_400

   angulo  angulo_tronco
0       0      97.457386
1      10      65.332890
2      20      72.857467
3      30      65.492726
4      40      64.106862
5      50      62.367553
6      60      67.998517
7      70      73.503908
8      80      83.064815
9      90      88.376279
10    100      97.031020
11    110      94.502489
12    120     101.407704
13    130     104.052085
14    140     106.666634
15    150     115.227051
16    160     126.506350
17    170     116.017401
18    180     105.936550